<h1>Welcome to Our First App {{name}} !!</h1>
<h2>Personal Details !</h2>
<form (ngSubmit)=onPayClick() #f=ngForm>
<div class="outer-input">
   <label>First Name</label>
   <input (change)=onNamechange($event)  
    type="text"
    name="first" ngModel required
    #first=ngModel>
    <br>
    <div class="field-error" *ngIf="!first.valid && onSubmit">Please enter first name</div>
</div>

<div class="outer-input">
  <label>Last Name</label>
  <input type="text"
  name="last" ngModel required
  #last=ngModel>
  <div class="field-error" *ngIf="!last.valid && onSubmit">Please enter last name</div>
</div>

<div class="outer-input">
   <label>Email</label> 
   <input type="email"
   name="email" 
   pattern= "^\S*[@]\S*[.]\S*$" 
   ngModel 
   required
   #email=ngModel>
   <div class="field-error" *ngIf="email.errors?.required && onSubmit">Please enter email</div>
   <div class="field-error" *ngIf="email.errors?.pattern && onSubmit">Please enter a valid email</div>
</div>
<div class="outer-input">
  <label>Secret Question</label>
  <select>
  <input type="text"
  name="secret"
  ngModel>
  <option value="school">Your first school name?</option>
  <option value="favourite">Your favourite subject?</option>
</select>
</div>
<div class="outer input">
  <label>Your anwer</label>
  <textarea name="answer"
    rows="3"
    ngModel ></textarea>
</div>
<div class="outer-button">
  <button class="btn btn-primary" type="submit"> Next </button>
</div>

</form>

