<h2>Welcome to Pay !</h2>
<p>Accepted Cards</p>

<form (ngSubmit)=onCreditConfirm(f) #f=ngForm>
<div class="outer-input">
   <label> Card Name</label>
   <input type = "text"
    name= "card name" ngModel required>
</div>
<div class="outer-input">
   <label> Card Number</label>
   <input type = "number"
   name= "card number" ngModel required>
</div>
<div class="outer-input">
   <label> Expiry Date</label>
   <input class = "month"
   type= "month"
   name= "month" ngModel required>
</div>

<div class="outer-input">
   <label> CVV</label>
   <input class="cvv" 
   type = "number"
   name= "number" ngModel required>
</div>
<div class="outer-button">
<button class="btn btn-secondary" (click)="onCreditCancel()"> Back </button>
<button class="btn btn-secondary" type="submit" > Next </button>
</div>
</form>
