@import '../../styles.scss';

label {
  color: darkgreen;
  @include label;
}

input {
  @include input;
}

.outer-radio {
  display: flex;
  justify-content: center;
}

.radio {
  display: flex;
  width: 100px;
  
  input {
    margin-top: 10px;
  }
}