<div class="outer-div">
   <label> Card Name</label><input type = "text">
</div>
<div class="outer-div">
    <label> Card Number</label><input type = "number">
</div>
<div class="outer-div">
    <label> Expiry month</label><input class="month" type = "text">
</div>
<div class="outer-div">
    <label> Expiry year</label><input class="year" type = "number">
</div>
<div class="outer-div">
<label> CVV</label><input class="cvv" type = "number">
</div> 
<div class="button">
<button (click)="onCreditCancel()"> Back </button>
<button (click)="onCreditConfirm()"> Next </button>
</div>