<h2>Welcome to Pay !</h2>
<p>Accepted Cards</p>
<div class="outer-radio">
    <div class="radio">
        <input type="radio" name= "card-radio">
        <img src="assets/images/mastercard.png" style="width: 80px; height: 40px;">
    </div>
    <div class="radio">
        <input type="radio" name= "card-radio">
        <img src="assets/images/visa.png" style="width: 50px; height: 40px;">

    </div>
    <div class="radio">
        <input type="radio" name= "card-radio">
        <img src="assets/images/amex.png" style="width: 50px; height: 40px;" input type="radio">
    </div>

</div>
    <form (ngSubmit)=onCreditConfirm(f) #f=ngForm>
    <span class="error-message" *ngIf="!f.valid && onSubmit">Please enter all the required fields</span>
<!--div class="outer-input">
 <label> Card Name</label>
   <input type = "text"
   placeholder="eg:rohiNirali"
    name="card" ngModel required
    #card=ngModel>
</div-->
<app-input labelName="Card Name" type="text" name="card" required="true"></app-input>
<app-input labelName="Card Number" type="number" name="num" required="true"></app-input>
<!--<app-input labelName="Expiry Date" type="text" name="expiry" required="true"></app-input>-->

<!--app-input labelName="Expiry Year" type="text" name="year" required="true"></app-input-->

<!--div class="outer-input">
   <label> Card Number</label>
   <input type = "text"
   placeholder="eg:1111222233334444"
   name= "num" ngModel required
   #num=ngModel>
</div-->
<div class="outer-input">
   <label> Expiry Date</label>

   <select name= "expiry" ngModel required
   #expiry=ngModel>
    <option value="01">January</option>
    <option value="02">February </option>
    <option value="03">March</option>
    <option value="04">April</option>
    <option value="05">May</option>
    <option value="06">June</option>
    <option value="07">July</option>
    <option value="08">August</option>
    <option value="09">September</option>
    <option value="10">October</option>
    <option value="11">November</option>
    <option value="12">December</option>
   </select>
   <select name="expiry" ngModel required
   #expiry=ngModel>
    <option value="16"> 2020</option>
    <option value="17"> 2021</option>
    <option value="18"> 2022</option>
    <option value="19"> 2023</option>
    <option value="20"> 2024</option>
    <option value="21"> 2025</option>
   </select>
</div>

<app-input labelName="CVV" type="text" name="cvv" required="true"></app-input>

<!--div class="outer-input">
   <label> CVV</label>
   <input class="cvv"
   type = "text"
   placeholder="eg:123"
   name= "cvv" ngModel required
   #cvv=ngModel>
</div-->

<div class="outer-button">
<button class="btn btn-secondary" (click)="onCreditCancel()"> Back </button>
<button class="btn btn-secondary" type="submit" > Next </button>
</div>
</form>
