/* You can add global styles to this file, and also import other style files */
h2 {
  margin: 30px auto;
  text-align: center;
  color: brown;
}

.btn {
  width: 200px;
  margin: 20px;
  font-size: 20px;
  padding: 5px;
}


@mixin label {
  margin-right: 20px;
  font-weight: bold;
  padding: 5px;
  width: 100px;
}

@mixin input {
  width: 200px;
  border: 1px solid lightgray;
}

.outer-input {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}


.outer-button {
  display: flex;
  justify-content: center;
  max-width: 700px;
}
