/* You can add global styles to this file, and also import other style files */
h2 {
  margin: 30px auto;
  text-align: center;
  color: brown;
}
h3 {
  text-align: center;
  color: green ;
}
p {
  text-align: center;
  color: blue;
}

.btn {
  width: 150px;
  margin: 20px;
  font-size: 20px;
  padding: 5px;
  align-content: flex-end;
}


@mixin label {
  font-weight: bold;
  padding: 5px;
  width: 100px;
}

@mixin input {
  width: 200px;
  border: 2px solid goldenrod;
}

.outer-input {
  margin: 20px auto;
  display: flex;
  // justify-content: center;
 max-width: 500px;
}


.outer-button {
  display: flex;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
}

.btn-secondary {
  color: white;
  background-color: blue;
  margin-left: 10px;
}

.field-error {
  color: red;
}
 .year {
   padding: 10px;
 }

 .month {
   width: 100px;
 }
 select {
  width: 100px;
  border: 2px solid goldenrod;
 }

 